In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('E:\\MACHINE LEARNING\\datasets\\H1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40060 entries, 0 to 40059
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   IsCanceled                   40060 non-null  int64
 1   LeadTime                     40060 non-null  int64
 2   ArrivalDateYear              40060 non-null  int64
 3   ArrivalDateMonth             40060 non-null  object
 4   ArrivalDateWeekNumber        40060 non-null  int64
 5   ArrivalDateDayOfMonth        40060 non-null  int64
 6   StaysInWeekendNights         40060 non-null  int64
 7   StaysInWeekNights            40060 non-null  int64
 8   Adults                       40060 non-null  int64
 9   Children                     40060 non-null  int64
 10  Babies                       40060 non-null  int64
 11  Meal                         40060 non-null  object
 12  Country                      39596 non-null  object
 13  MarketSegment                40060 non-null  object
 14  DistributionChannel          40060 non-null  object
 15  IsRepeatedGuest              40060 non-null  int64
 16  PreviousCancellations        40060 non-null  int64
 17  PreviousBookingsNotCanceled  40060 non-null  int64
 18  ReservedRoomType             40060 non-null  object
 19  AssignedRoomType             40060 non-null  object
 20  BookingChanges               40060 non-null  int64
 21  DepositType                  40060 non-null  object
 22  Agent                        40060 non-null  object
 23  Company                      40060 non-null  object
 24  DaysInWaitingList            40060 non-null  int64
 25  CustomerType                 40060 non-null  object
 26  ADR                          40060 non-null  float64
 27  RequiredCarParkingSpaces     40060 non-null  int64
 28  TotalOfSpecialRequests       40060 non-null  int64
 29  ReservationStatus            40060 non-null  object
 30  ReservationStatusDate        40060 non-null  object
dtypes: float64(1), int64(17), object(13)
memory usage: 9.5+ MB

In [4]:
df.head(10)

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,342,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,0,737,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,0,7,2015,July,27,1,0,1,1,0,...,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,0,13,2015,July,27,1,0,1,1,0,...,No Deposit,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,0,14,2015,July,27,1,0,2,2,0,...,No Deposit,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,0,14,2015,July,27,1,0,2,2,0,...,No Deposit,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,0,0,2015,July,27,1,0,2,2,0,...,No Deposit,NULL,NULL,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,0,9,2015,July,27,1,0,2,2,0,...,No Deposit,303,NULL,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,1,85,2015,July,27,1,0,3,2,0,...,No Deposit,240,NULL,0,Transient,82.0,0,1,Canceled,2015-05-06
9,1,75,2015,July,27,1,0,3,2,0,...,No Deposit,15,NULL,0,Transient,105.5,0,0,Canceled,2015-04-22

In [5]:
df.drop(columns=['ReservationStatus'])
df.columns

Index(['IsCanceled', 'LeadTime', 'ArrivalDateYear', 'ArrivalDateMonth',
       'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth',
       'StaysInWeekendNights', 'StaysInWeekNights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'MarketSegment', 'DistributionChannel',
       'IsRepeatedGuest', 'PreviousCancellations',
       'PreviousBookingsNotCanceled', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests', 'ReservationStatus', 'ReservationStatusDate'],
      dtype='object')

In [6]:
df.isnull().sum()

IsCanceled                       0
LeadTime                         0
ArrivalDateYear                  0
ArrivalDateMonth                 0
ArrivalDateWeekNumber            0
ArrivalDateDayOfMonth            0
StaysInWeekendNights             0
StaysInWeekNights                0
Adults                           0
Children                         0
Babies                           0
Meal                             0
Country                        464
MarketSegment                    0
DistributionChannel              0
IsRepeatedGuest                  0
PreviousCancellations            0
PreviousBookingsNotCanceled      0
ReservedRoomType                 0
AssignedRoomType                 0
BookingChanges                   0
DepositType                      0
Agent                            0
Company                          0
DaysInWaitingList                0
CustomerType                     0
ADR                              0
RequiredCarParkingSpaces         0
TotalOfSpecialRequests           0
ReservationStatus                0
ReservationStatusDate            0
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
imputed = imputer.fit_transform(df[['Country']])
Country = pd.DataFrame(imputed)

dataset = df.join(Country,how='left')

dataset.isnull().sum()

IsCanceled                       0
LeadTime                         0
ArrivalDateYear                  0
ArrivalDateMonth                 0
ArrivalDateWeekNumber            0
ArrivalDateDayOfMonth            0
StaysInWeekendNights             0
StaysInWeekNights                0
Adults                           0
Children                         0
Babies                           0
Meal                             0
Country                        464
MarketSegment                    0
DistributionChannel              0
IsRepeatedGuest                  0
PreviousCancellations            0
PreviousBookingsNotCanceled      0
ReservedRoomType                 0
AssignedRoomType                 0
BookingChanges                   0
DepositType                      0
Agent                            0
Company                          0
DaysInWaitingList                0
CustomerType                     0
ADR                              0
RequiredCarParkingSpaces         0
TotalOfSpecialRequests           0
ReservationStatus                0
ReservationStatusDate            0
0                                0
dtype: int64

In [9]:
import seaborn as sns
import matplotlib.pyplot as plt

num_cols = df.select_dtypes(include=['int16', 'int32', 'int64', 'float16', 'float32', 'float64'])

num_cols.corr()['IsCanceled'].sort_values(ascending=False)

IsCanceled                     1.000000
LeadTime                       0.229444
PreviousCancellations          0.114173
ADR                            0.109317
Children                       0.081234
Adults                         0.080546
StaysInWeekendNights           0.078569
StaysInWeekNights              0.078477
ArrivalDateYear                0.043624
ArrivalDateWeekNumber          0.021601
ArrivalDateDayOfMonth         -0.009386
Babies                        -0.023254
DaysInWaitingList             -0.036301
PreviousBookingsNotCanceled   -0.076767
TotalOfSpecialRequests        -0.101295
IsRepeatedGuest               -0.103563
BookingChanges                -0.114835
RequiredCarParkingSpaces      -0.243863
Name: IsCanceled, dtype: float64

In [12]:
input_col = dataset[['LeadTime','RequiredCarParkingSpaces','IsRepeatedGuest','PreviousCancellations','BookingChanges','ADR', 'StaysInWeekendNights','StaysInWeekNights','Adults','Children','Babies','PreviousBookingsNotCanceled','DistributionChannel','MarketSegment']]
output_col = dataset[['IsCanceled']]

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler


categorical_cols = input_col.select_dtypes(include=['object']).columns
numeric_cols = input_col.select_dtypes(exclude=['object']).columns

scaler = StandardScaler()
scaler.fit(input_col[numeric_cols])

encoder = OneHotEncoder(handle_unknown='ignore',sparse_output=False,drop='first')
encoder.fit(input_col[categorical_cols])

x = pd.DataFrame(scaler.transform(input_col[numeric_cols]), columns=numeric_cols)
x = pd.concat([x, pd.DataFrame(encoder.transform(input_col[categorical_cols]), columns=encoder.get_feature_names_out(categorical_cols))], axis=1)

x.head(10)

,LeadTime,RequiredCarParkingSpaces,IsRepeatedGuest,PreviousCancellations,BookingChanges,ADR,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,PreviousBookingsNotCanceled,DistributionChannel_Direct,DistributionChannel_TA/TO,DistributionChannel_Undefined,MarketSegment_Corporate,MarketSegment_Direct,MarketSegment_Groups,MarketSegment_Offline TA/TO,MarketSegment_Online TA
0,2.562847,-0.393359,-0.215511,-0.076191,3.732812,-1.545416,-1.036607,-1.271171,0.190528,-0.28905,-0.116845,-0.146171,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,6.623120,-0.393359,-0.215511,-0.076191,5.109202,-1.545416,-1.036607,-1.271171,0.190528,-0.28905,-0.116845,-0.146171,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.880675,-0.393359,-0.215511,-0.076191,-0.396356,-0.324746,-1.036607,-0.864882,-1.243623,-0.28905,-0.116845,-0.146171,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,-0.819000,-0.393359,-0.215511,-0.076191,-0.396356,-0.324746,-1.036607,-0.864882,-1.243623,-0.28905,-0.116845,-0.146171,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,-0.808721,-0.393359,-0.215511,-0.076191,-0.396356,0.049593,-1.036607,-0.458592,0.190528,-0.28905,-0.116845,-0.146171,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
5,-0.808721,-0.393359,-0.215511,-0.076191,-0.396356,0.049593,-1.036607,-0.458592,0.190528,-0.28905,-0.116845,-0.146171,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6,-0.952629,-0.393359,-0.215511,-0.076191,-0.396356,0.196073,-1.036607,-0.458592,0.190528,-0.28905,-0.116845,-0.146171,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,-0.860117,-0.393359,-0.215511,-0.076191,-0.396356,0.130971,-1.036607,-0.458592,0.190528,-0.28905,-0.116845,-0.146171,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8,-0.078900,-0.393359,-0.215511,-0.076191,-0.396356,-0.210817,-1.036607,-0.052302,0.190528,-0.28905,-0.116845,-0.146171,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
9,-0.181691,-0.393359,-0.215511,-0.076191,-0.396356,0.171660,-1.036607,-0.052302,0.190528,-0.28905,-0.116845,-0.146171,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(x,output_col,test_size=0.2,random_state=42)


def model_selection(param,model,x_train,y_train):
    grid_search = GridSearchCV(model, param, cv=5,n_jobs=-1)
    grid_search.fit(x_train, y_train)

    y_pred = grid_search.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    print("Best parameters found: ", grid_search.best_params_)
    print('train_score: ', grid_search.best_score_ * 100)
    print('test_score: ', accuracy * 100)

In [ ]:
params = {
    'C': [0.01, 0.1, 1, 10, 100],
    'penalty': ['l2', 'l1', 'elasticnet'],
    'solver': ['saga'],
    'max_iter': [100, 200, 300],
    'l1_ratio': [0, 0.5, 1] 
}

model_selection(params, LogisticRegression(), x_train, y_train)

logistic regression 76.65 (train) , 77.24 (test)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
params_tree = {
    'max_features': ['sqrt','log2',0.3,0.5,0.7,0.9],
    'max_depth': [None, 5, 10, 15, 20],
    'max_leaf_nodes': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

model_selection(params_tree, DecisionTreeClassifier(), x_train, y_train)

decision tree classifier : 80.27 (train) , 80.25 (test)

In [15]:
from sklearn.ensemble import RandomForestClassifier
perams_forest = {
    'n_estimators': [100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10]
}
model_selection(perams_forest, RandomForestClassifier(), x_train, y_train)

C:\Users\Hp\AppData\Roaming\Python\Python313\site-packages\sklearn\base.py:1365: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Best parameters found:  {'max_depth': None, 'min_samples_split': 5, 'n_estimators': 100}
train_score:  83.05042806174721
test_score:  83.12531203195206

Random Forest classifier : 83 (train and test both)