In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('E:\\MACHINE LEARNING\\datasets\\H1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40060 entries, 0 to 40059
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   IsCanceled                   40060 non-null  int64
 1   LeadTime                     40060 non-null  int64
 2   ArrivalDateYear              40060 non-null  int64
 3   ArrivalDateMonth             40060 non-null  object
 4   ArrivalDateWeekNumber        40060 non-null  int64
 5   ArrivalDateDayOfMonth        40060 non-null  int64
 6   StaysInWeekendNights         40060 non-null  int64
 7   StaysInWeekNights            40060 non-null  int64
 8   Adults                       40060 non-null  int64
 9   Children                     40060 non-null  int64
 10  Babies                       40060 non-null  int64
 11  Meal                         40060 non-null  object
 12  Country                      39596 non-null  object
 13  MarketSegment                40060 non-null  object
 14  DistributionChannel          40060 non-null  object
 15  IsRepeatedGuest              40060 non-null  int64
 16  PreviousCancellations        40060 non-null  int64
 17  PreviousBookingsNotCanceled  40060 non-null  int64
 18  ReservedRoomType             40060 non-null  object
 19  AssignedRoomType             40060 non-null  object
 20  BookingChanges               40060 non-null  int64
 21  DepositType                  40060 non-null  object
 22  Agent                        40060 non-null  object
 23  Company                      40060 non-null  object
 24  DaysInWaitingList            40060 non-null  int64
 25  CustomerType                 40060 non-null  object
 26  ADR                          40060 non-null  float64
 27  RequiredCarParkingSpaces     40060 non-null  int64
 28  TotalOfSpecialRequests       40060 non-null  int64
 29  ReservationStatus            40060 non-null  object
 30  ReservationStatusDate        40060 non-null  object
dtypes: float64(1), int64(17), object(13)
memory usage: 9.5+ MB

In [29]:
df.head(10)

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,342,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,0,737,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,0,7,2015,July,27,1,0,1,1,0,...,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,0,13,2015,July,27,1,0,1,1,0,...,No Deposit,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,0,14,2015,July,27,1,0,2,2,0,...,No Deposit,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,0,14,2015,July,27,1,0,2,2,0,...,No Deposit,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,0,0,2015,July,27,1,0,2,2,0,...,No Deposit,NULL,NULL,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,0,9,2015,July,27,1,0,2,2,0,...,No Deposit,303,NULL,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,1,85,2015,July,27,1,0,3,2,0,...,No Deposit,240,NULL,0,Transient,82.0,0,1,Canceled,2015-05-06
9,1,75,2015,July,27,1,0,3,2,0,...,No Deposit,15,NULL,0,Transient,105.5,0,0,Canceled,2015-04-22

In [30]:
df.drop(columns=['ReservationStatus'])
df.columns

Index(['IsCanceled', 'LeadTime', 'ArrivalDateYear', 'ArrivalDateMonth',
       'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth',
       'StaysInWeekendNights', 'StaysInWeekNights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'MarketSegment', 'DistributionChannel',
       'IsRepeatedGuest', 'PreviousCancellations',
       'PreviousBookingsNotCanceled', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests', 'ReservationStatus', 'ReservationStatusDate'],
      dtype='object')

In [31]:
df.isnull().sum()

IsCanceled                       0
LeadTime                         0
ArrivalDateYear                  0
ArrivalDateMonth                 0
ArrivalDateWeekNumber            0
ArrivalDateDayOfMonth            0
StaysInWeekendNights             0
StaysInWeekNights                0
Adults                           0
Children                         0
Babies                           0
Meal                             0
Country                        464
MarketSegment                    0
DistributionChannel              0
IsRepeatedGuest                  0
PreviousCancellations            0
PreviousBookingsNotCanceled      0
ReservedRoomType                 0
AssignedRoomType                 0
BookingChanges                   0
DepositType                      0
Agent                            0
Company                          0
DaysInWaitingList                0
CustomerType                     0
ADR                              0
RequiredCarParkingSpaces         0
TotalOfSpecialRequests           0
ReservationStatus                0
ReservationStatusDate            0
dtype: int64

In [37]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
imputed = imputer.fit_transform(df[['Country']])
Country = pd.DataFrame(imputed)

dataset = df.join(Country,how='left')

dataset.columns = dataset.columns.astype(str)  # convert all to string
sorted_columns = sorted(dataset.columns)
for col in sorted_columns:
    print(col)

0
ADR
Adults
Agent
ArrivalDateDayOfMonth
ArrivalDateMonth
ArrivalDateWeekNumber
ArrivalDateYear
AssignedRoomType
Babies
BookingChanges
Children
Company
Country
CustomerType
DaysInWaitingList
DepositType
DistributionChannel
IsCanceled
IsRepeatedGuest
LeadTime
MarketSegment
Meal
PreviousBookingsNotCanceled
PreviousCancellations
RequiredCarParkingSpaces
ReservationStatus
ReservationStatusDate
ReservedRoomType
StaysInWeekNights
StaysInWeekendNights
TotalOfSpecialRequests

In [34]:
imputer.statistics_

array(['PRT'], dtype=object)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

num_cols = df.select_dtypes(include=['int16', 'int32', 'int64', 'float16', 'float32', 'float64']).columns

plt.figure(figsize=(12,8))
sns.heatmap(df[num_cols].corr(),annot=True,fmt='.2f',cmap='coolwarm')
plt.show()

In [39]:
features = dataset[['LeadTime','RequiredCarParkingSpaces','IsRepeatedGuest','PreviousCancellations','BookingChanges','ADR', 'StaysInWeekendNights','StaysInWeekNights','Adults','Children','Babies','PreviousBookingsNotCanceled']]
output = dataset[['IsCanceled']]